@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "LPMQ";
  /* src: url(./assets/font/LPMQ\ IsepMisbah.ttf); */
  src: url(./assets/font/LPMQ.ttf);
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: gray;
}

section {
  @apply flex flex-col relative bg-white max-w-xl mx-auto min-h-screen pt-12;
}

.arabic {
  font-family: LPMQ;
}